# Django setup
# ------------------------------------------------------------------------------
SETTINGS_MODULE='core.settings.local'
DEBUG_MODE=True
LANGUAGE_CODE=es
TIME_ZONE=America/Santiago
USE_TIME_ZONE=False
USE_I18N=True
SECRET_KEY=KEY
ALLOWED_HOSTS=127.0.0.1,localhost
CSRF_TRUSTED_ORIGINS=http://127.0.0.1,http://localhost
INTERNAL_IPS=127.0.0.1,localhost
SESSION_COOKIE_AGE=3600

# Database for Django
# ------------------------------------------------------------------------------
DB_ENGINE=django.db.backends.mysql
DB_HOST=localhost
DB_PORT=3306
DB_NAME=despachos
DB_USER=USER_HERE
DB_PASSWORD=PASSWD_HERE

# SAP data
# ------------------------------------------------------------------------------
SAP_HOST=URL
SAP_USER=USER
SAP_PASS=PASS
SAP_DATABASE=DB

# Starken data
# ------------------------------------------------------------------------------
STARKEN_PORTAL_HOST=HOST
STARKEN_PORTAL_USER=USER
STARKEN_PORTAL_PASS=PASS
STARKEN_API_HOST=HOST
STARKEN_API_KEY=API_KEY
STARKEN_WS_URL=URL

# Google Chat data
# ------------------------------------------------------------------------------
USER_SPACE_URL=URL
FAIL_SPACE_URL=URL
SUCCESS_SPACE_URL=URL

# Mitocondria App data
# ------------------------------------------------------------------------------
MITOCONDRIA_DB_HOST=HOST
MITOCONDRIA_DB_PORT=PORT
MITOCONDRIA_DB_USER=USER
MITOCONDRIA_DB_PASS=PASS
MITOCONDRIA_DB_SCHEMA=DB

# Email for Django
# ------------------------------------------------------------------------------
EMAIL_SERVER=SERVER
EMAIL_PORT=PORT
EMAIL_ADDRESS=EMAIL
EMAIL_PASSWORD=PASS

# Email data
# ------------------------------------------------------------------------------
SUP_DESPACHOS_EMAIL=EMAIL
DISPATCH_NOTIF_EMAIL=EMAIL
LOG_PED_APP_EMAIL=EMAIL
