# Django setup
# ------------------------------------------------------------------------------
SETTINGS_MODULE='config.settings.local'
DEBUG_MODE=True
LANGUAGE_CODE=es
TIME_ZONE=America/Santiago
USE_TIME_ZONE=False
USE_I18N=True
SECRET_KEY=KEY
ALLOWED_PUBLIC_HOSTS=127.0.0.1
ALLOWED_PRIVATE_HOSTS=localhost
CSRF_TRUSTED_ORIGINS=http://127.0.0.1,http://localhost
INTERNAL_IPS=127.0.0.1,localhost
SESSION_COOKIE_AGE=3600

# Database for Django
# ------------------------------------------------------------------------------
DB_ENGINE=django.db.backends.mysql
DB_HOST=localhost
DB_PORT=3306
DB_NAME=despachos
DB_USER=USER_HERE
DB_PASSWORD=PASSWD_HERE

# Email for Django
# ------------------------------------------------------------------------------
EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=HOST
EMAIL_PORT=PORT
EMAIL_TLS=True
EMAIL_USER=EMAIL_ADDRESS
EMAIL_PASSWORD=PASSWORD
EMAIL_TIMEOUT=10

# Email data
# ------------------------------------------------------------------------------
DELIV_EMAIL_ADDR=EMAIL
NOTIF_EMAIL_RECIPIENTS=EMAIL

# SAP data
# ------------------------------------------------------------------------------
SAP_HOST=URL

# Starken data
# ------------------------------------------------------------------------------
STARKEN_API_HOST=HOST
STARKEN_WS_URL=URL

# Google Chat data
# ------------------------------------------------------------------------------
FAIL_SPACE_URL=URL
SUCCESS_SPACE_URL=URL

# Mitocondria App data
# ------------------------------------------------------------------------------
MITOCONDRIA_DB_SCHEMA=DB

# Despachos App data
# ------------------------------------------------------------------------------
DESPACHOS_DB_SCHEMA=DB

# Google Maps data
# ------------------------------------------------------------------------------
GMAPS_API_KEY=KEY
