button {
    height: 3rem;
    width: fit-content;
    padding: 10px 20px;
    font-size: 1rem;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    border-radius: 8px;
    border: 0 !important;
    max-width: 200px;
}

.greenbutton {
    background: var(--green) !important;
    color: #fff !important;
}

.greenbutton:hover {
    background-color: var(--dark-green) !important;
}

.bluebutton {
    background: var(--blue) !important;
    color: #fff !important;
}

.bluebutton:hover {
    background-color: var(--dark-blue) !important;
}

.redbutton {
    background-color: var(--dark-red) !important;
    color: #fff !important;
}

.redbutton:hover {
    background-color: var(--red) !important;
}

.darkturquoise {
    background-color: #0d8192 !important;
    color: #fff !important;
}

.darkturquoise:hover {
    background-color: rgb(11, 105, 119, .5) !important;
}
