{% extends "main.html" %}
{% block content %}
    <center>
        <form method="POST" action="" accept-charset="UTF-8" class="width-fit">
            {% csrf_token %}
            <div class="d-grid pb-3">
                <label for="{{ form.old_password.id_for_label }}">Contraseña actual:</label>
                {{ form.old_password }}
            </div>
            <div class="d-grid pb-3">
                <label for="{{ form.new_password1.id_for_label }}">Contraseña nueva:</label>
                {{ form.new_password1 }}
            </div>
            <div class="d-grid pb-5">
                <label for="{{ form.new_password2.id_for_label }}">Confirme la contraseña nueva:</label>
                {{ form.new_password2 }}
            </div>
            <button type="submit" class="bluebutton fw-bold">Guardar</button>
        </form>
    </center>
{% endblock %}