<html>
    <head>
        {% load bootstrap5 %}
        {% load static %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Despachos BQ</title>
        <link rel="icon" type="image/x-icon" href="{% static 'app/img/white_bq_icon.png' %}">
        <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>
        {% bootstrap_css %}
        <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.12/dist/sweetalert2.min.css" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'app/css/main.css' %}">
        <link rel="stylesheet" href="{% static 'app/css/elements/input.css' %}">
        <link rel="stylesheet" href="{% static 'app/css/elements/button.css' %}">
        <link rel="stylesheet" href="{% static 'app/css/elements/loading.css' %}">
        <link rel="stylesheet" href="{% static 'app/css/sweet-alert.css' %}">
        {% block styles %}
        {% endblock %}
    </head>
    <body>
        {% block header %}
        {% endblock %}
        <div class="container-fluid">
            <div class="row">
                {% block sidebar %}
                {% endblock %}
                {% block main %}
                {% endblock %}
            </div>
            <div id="loading-overlay" style="display: none;">
                <img class="w-25" src="{% static 'app/svg/loading.svg' %}" alt="Loading"/>
            </div>
        </div>
        {% bootstrap_javascript %}
        <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.12/dist/sweetalert2.all.min.js"></script>
        <script>
            var userMessages = '';
            {% if messages %}
                {% for message in messages %}
                    var swalIcon = '{{ message.tags }}';
                    userMessages += '{{ message }}';
                {% endfor %}
                userMessages += '\n';
            {% elif form.errors %}                
                var swalIcon = 'error';
                userMessages += 'Error(es):';
                {% for field, error in form.errors.items %}
                    userMessages += '{{ field }} ->';
                    {% for e in error %}
                        userMessages += ' {{ e }}';
                    {% endfor %}
                {% endfor %}
                userMessages += '\n';
            {% endif %}
            if (userMessages !== null && userMessages !== '') {
                Swal.fire({
                    icon: swalIcon,
                    text: userMessages
                })
            }
            const checkAuthUrl = '{% url "check_auth" %}';
            const loginUrl = '{% url "login" %}';
            const authenticatedUser = {{ request.user.is_authenticated|lower }};
        </script>
        <script src="{% static 'app/js/main.js' %}"></script>
        {% block scripts %}
        {% endblock %}
    </body>
</html>